<div class="row">
    <ul class="nav nav-pills">
        <li><button class="btn btn-success"><a id="log-in" href="#events/new">Create New Event</a></button></li>
    </ul>
</div>
<div class="row">
    <h3>Events</h3>
    <section>
        <div id="event-list" class="row"></div>
    </section>
</div>


