<div class='main'>
  <div class="jumbotron">
    <h1>Event Planner</h1>
    <p class="lead">Helping you plan your events, or find events planned by others!</p>
    <p><a class="app-btn btn btn-lg btn-success" href="#signup">Sign me up!</a></p>
    <p>or</p>
    <p><a class="app-btn btn btn-lg btn-primary" href="#events">View Events</a></p>
  </div>      

  <div class="footer">
    
  </div>
</div>

